html,body,.contenedor, .escena{
    height: 100%;
}
.contenedor{
    background-color: rgba(0,0,0,.8);
}
.escena{
    display: block; 
    background-color: red;
    position:relative;

}
#presentacion{
    display:block;
    background-color: blueviolet;

}
.contenido{
    width: 50%;
    height: 50%;
    background-color:rgba(0,0,0,.6);
    color:whitesmoke;
    margin:auto;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border: solid 1px black;
    box-shadow: 6px 6px 12px;
}
#presentacion{
    background-image: url("presentacion.jpg");
    background-size: cover;
   
}
#alarcon{
    background-image: url("Alarcon.jpg");
    background-size: cover;
}
#belmonte{
   background-image: url("belmonte.jpg"); 
   background-size: cover;
}
#sanclemente{
    background-image: url("SanClementeCuenca.jpg");
    background-size: cover;
}
#huete{
    background-image: url("huetej.jpg");
    background-size: cover; 
}
#sisante{
    background-image: url("Sisante1.jpg");
    background-size: cover;
}
#contraportada{
    background-image: url("goodbye.jpg");
    background-size: cover;
}
#audio{
    position:fixed;
    bottom:1em;
    right:2em;
    font-size: 2em;
    color: whitesmoke;
    cursor:pointer;
    box-shadow: 6px 6px 12px;
}